.central_title{
    text-align: center;
}

.custom_words{
font-family: "Arial Black";
    font-size: large;
}

.custom_rectangles{
    font-size: medium;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}